{% extends 'blog/base.html' %}
{% block content %}
    {% for ad in ads %}
        <div class="card pl-5 pt-3 pb-3" style="width: 50rem;">
          <div class="row">
            <div class="col-md-6">
              <div class="card-block">
                <div class="article-metadata pb-2">
                    <img class="rounded-circle article-img" src="{{ ad.adOwner.profile.image.url }}">
                    <a class="mr-2" href="{% url 'user-ads' ad.adOwner.username %}">{{ ad.adOwner }}</a>
                    <small class="text-muted">{{ ad.datePosted|date:"F d, Y" }}</small>
                </div>
                <div class="pt-4">
                    <h2><a class="article-title" href="{% url 'ad-detail' ad.id %}">{{ ad.manufacturer}} {{ ad.model }}</a></h2>
                    <h5 class="article-content">Price: {{ ad.price }}</h5>
                    <h5 class="article-content">Production year: {{ ad.productionYear }}</h5>
                    <h5 class="article-content">Contact number: {{ ad.contactNumber }}</h5>
                </div>
              </div>
            </div>
            <div class="col-md-6 pl-3">
              <div>
                <img class="img-fluid pt-1 pr-3" alt="Responsive image" src="{{ ad.image.url }}">
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1"><<</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">></a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">>></a>
        {% endif %}
    {% endif %}
{% endblock content %}

